body {

margin:0;

font-family:Arial, sans-serif;

background:#0B1F3A;

color:white;

}


.hero {

text-align:center;

padding:100px 20px;

}


.hero h1 {

font-size:55px;

color:#D72638;

}


.hero button {

background:#D72638;

color:white;

padding:15px 30px;

border:none;

border-radius:10px;

font-size:18px;

}


.featured {

text-align:center;

padding:50px;

}


.cards {

display:flex;

justify-content:center;

gap:30px;

}


.card {

background:white;

color:#0B1F3A;

padding:40px;

border-radius:15px;

font-size:25px;

}
.navbar {

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 40px;

background:#050f20;

border-bottom:2px solid #D72638;

}


.navbar h1 {

color:#D72638;

}


.links a {

color:white;

text-decoration:none;

margin-left:20px;

}
.shop {

padding:50px;

text-align:center;

}


.product-grid {

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(250px,1fr));

gap:30px;

margin-top:40px;

}


.product-card {

background:white;

color:#0B1F3A;

padding:25px;

border-radius:15px;

}


.card-image {

height:200px;

background:#ddd;

display:flex;

align-items:center;

justify-content:center;

font-size:60px;

border-radius:10px;

}


.product-card a {

display:inline-block;

background:#D72638;

color:white;

padding:10px 20px;

border-radius:8px;

text-decoration:none;

}
.product-page {

display:flex;

justify-content:center;

gap:50px;

padding:70px;

}



.product-photo {

width:350px;

height:450px;

background:white;

color:#0B1F3A;

display:flex;

align-items:center;

justify-content:center;

font-size:100px;

border-radius:20px;

}



.product-info {

max-width:400px;

}



.product-info h1 {

color:#D72638;

font-size:40px;

}



.product-info button {

background:#D72638;

color:white;

border:none;

padding:15px 30px;

border-radius:10px;

font-size:18px;

}
